.carousel {
    max-width: 78vw;
    height: 50vh;
    margin-left: 7vw;
    margin-right: 3vw;
}

/* .slick-slider.carousel.slick-initialized {
    max-width: 78vw;
}
*/

.slick-track {
    max-height: 50vh;
}

.slick-list {
    max-height: 50vh;
}

.carousel-image {
    animation: fadeIn 1s 1.8s backwards;
    border-radius: 10px;
    object-fit: cover;
    max-width: 100%;
    max-height: auto;
    position: relative;
    vertical-align: middle;
    height: 38vh;
    width: auto;
    margin: auto;
}

h2 {
    color: #ecc900;
    font-weight: 400;
    font-size: 2vh;
    font-family: sans-serif;
    letter-spacing: 0.5vh;
    animation: fadeIn 1s 1.8s backwards;
    text-align: center;
}

h4 {
    color: #a78e01;
    font-weight: 400;
    font-size: 2vh;
    font-family: sans-serif;
    letter-spacing: 0.5vh;
    animation: fadeIn 1s 1.8s backwards;
    text-decoration: underline;
    text-align: center;
    margin-top: 2px;
}

a {
    text-decoration: none;
    margin: auto;
}

@media (min-width: 1020px) {
    .carousel {
        margin-left: 0vw;
        margin-right: 0vw;
    }
}
