@keyframes slideInFromRight {
    0% {
        transform: translateX(+100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.opacity-container {
    animation: 7s -1s 1 fadeInOpacity;
}

.logo-container {
    z-index: 0;
    max-width: 100%;
    height: 90vh;
    width: 60vh;
    position: absolute;
    top: 20%;
    right: 10%;
    bottom: 0;
    left: auto;
    margin: auto;
    animation: 3.5s ease-out 0s 1 slideInFromRight;

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        z-index: 1;
        filter: grayscale(100%) sepia(100%) hue-rotate(90deg);
        transition: filter 1s;

        &:hover {
            filter: none;
            transition: filter 1s;
        }
    }
}
