@keyframes slideInFromRight {
    0% {
        transform: translateX(+100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.opacity-container {
    animation: 7s -1s 1 fadeInOpacity;
}

.logo-container {
    z-index: 0;
    min-width: 120px;
    width: 20vw;
    max-width: 280px;
    height: auto;
    position: absolute;
    animation: 3.5s ease-out 0s 1 slideInFromRight;

    .solid-logo {
        position: absolute;
        left: 0;
        z-index: 1;
        filter: grayscale(100%) sepia(100%) hue-rotate(90deg);
        transition: filter 1s;

        &:hover {
            filter: none;
            transition: filter 1s;
        }
    }
}
