@keyframes rotate {
    0% {
        transform: rotate3d(0, 0, 0, 0);
    }
    100% {
        transform: rotate3d(
            1,
            1,
            0,
            360deg
        ); /*controls rotation amount on one axis) */
    }
}

@keyframes MoveUpDown {
    0%,
    100% {
        transform: translateY(-5vh);
    }
    50% {
        transform: translateY(-55vh);
    }
}

.stage-cube-cont {
    width: 30vw;
    height: 70vh;
    position: absolute;
    top: 0;
    right: 5%;
    overflow: visible;
    padding-right: 3vw;
}

.moveWrap {
    position: absolute;
    bottom: 0;
    animation-name: MoveUpDown;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.cubespinner {
    position: absolute;
    bottom: 0;
    margin-left: 15vw;
    transform-style: preserve-3d;
    animation-name: rotate;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    .face {
        position: absolute;
        width: 15vw;
        height: 15vw;
        border: 5px outset #142a26;
        border-radius: 10px;
        background: #1d3d37;
        align-items: center;
        justify-content: center;
        font-size: 7.5vw;
        display: flex;
    }

    #face1 {
        transform: translateZ(7.5vw);
        color: #dd0031;
    }
    #face2 {
        transform: rotateY(90deg) translateZ(7.5vw);
        color: #f06529;
    }
    #face3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(7.5vw);
        color: #28a4d9;
    }
    #face4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(7.5vw);
        color: #5ed4f4;
    }
    #face5 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(7.5vw);
        color: #efd81d;
    }
    #face6 {
        transform: rotateX(-90deg) translateZ(7.5vw);
        color: #ec4d28;
    }
}
