@keyframes rotate {
    0% {
        transform: rotate3d(0, 0, 0, 0);
    }
    100% {
        transform: rotate3d(
            1,
            1,
            0,
            360deg
        ); /*controls rotation amount on one axis) */
    }
}

.stage-cube-cont {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
}

.cubespinner {
    position: absolute;
    transform-style: preserve-3d;
    animation-name: rotate;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-left: 35%;
    margin-top: 35%;

    .face {
        position: absolute;
        width: 20vw;
        height: 20vw;
        border: 5px outset #142a26;
        border-radius: 10px;
        background: #1d3d37;
        align-items: center;
        justify-content: center;
        font-size: 10vw;
        display: flex;
    }

    #face1 {
        transform: translateZ(10vw);
        color: #dd0031;
    }
    #face2 {
        transform: rotateY(90deg) translateZ(10vw);
        color: #f06529;
    }
    #face3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(10vw);
        color: #28a4d9;
    }
    #face4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(10vw);
        color: #5ed4f4;
    }
    #face5 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(10vw);
        color: #efd81d;
    }
    #face6 {
        transform: rotateX(-90deg) translateZ(10vw);
        color: #ec4d28;
    }
}
