.contact-form {
    width: 100%;
    margin-top: 20px;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            clear: both;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    ::placeholder {
        color: #b69b01;
        font-family: 'Courier New';
        font-size: 18px;
    }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background: #33695f;
        height: 50px;
        font-family: 'Courier New';
        font-size: 18px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
    }

    textarea {
        width: 100%;
        border: 0;
        background: #33695f;
        height: 50px;
        font-family: 'Courier New';
        font-size: 18px;
        color: #fff;
        padding: 20px;
        box-sizing: border-box;
        min-height: 150px;
    }

    .flat-button {
        color: #ffd700;
        background: 0 0;
        font-family: sans-serif;
        font-size: 15px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid #ffd700;
        float: right;
        &:hover {
            background-color: #ffd700;
            color: #2d5e55;
        }
    }
}

.map-wrap {
    background: rgba(8, 253, 216, 0.1);
    float: right;
    width: 50%;
    height: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
}

.info-map {
    position: absolute;
    background-color: #000;
    top: 50px;
    right: 30%;
    z-index: 99999;
    width: 267px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;

    span {
        font-size: 16px;
        display: block;
        padding-top: 20px;
        color: #ffd700;
    }
}
