.contact-form {
    width: 100%;
    max-height: 10vh;
    margin-top: 0.2vh;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 0.8vh;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            clear: both;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    ::placeholder {
        color: #b69b01;
        font-family: 'Courier New';
        font-size: 15px;
    }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background: #33695f;
        height: 4.5vh;
        font-family: 'Courier New';
        font-size: 15px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
    }

    textarea {
        width: 100%;
        min-height: 15vw;
        border: 0;
        background: #33695f;
        font-family: 'Courier New';
        font-size: 15px;
        color: #fff;
        padding: 6px 20px 0 20px;
        box-sizing: border-box;
    }

    .flat-button {
        color: #ffd700;
        background: 0 0;
        font-family: sans-serif;
        font-size: 1.5vh;
        letter-spacing: 0.5vw;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #ffd700;
        float: right;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        &:hover {
            background-color: #ffd700;
            color: #2d5e55;
        }
    }
}

.map-wrap {
    width: 43%;
    height: 84%;
}

.leaflet-container {
    width: 43%;
    height: 84%;
    position: absolute;
    top: 5%;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
}

.info-map {
    position: absolute;
    background-color: #000;
    top: 5%;
    right: 6%;
    z-index: 99999;
    width: 300;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 14px;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;

    span {
        font-size: 14px;
        display: block;
        padding-top: 20px;
        color: #ffd700;
    }
}
